@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.post {
	padding-bottom: 40px;
	border-bottom: 2px solid #AAAAAA;
	/*box-shadow: 0 4px 2px -2px #CDCDCD;*/
	background-color: #FEFEFE;
}

.caption {
	padding-left: 15px;
	padding-right: 15px;
	color: #828282;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.info-row {
	margin-top: -7px;
	padding-left: 5px;
	padding-right: 20px;
}

.info {
	color: #AAAAAA;
	padding-top: 7px;
}

.loc {
	margin-left: -7px;
}

.caption-indicator {
	font-size: 22px;
}

.content {
	padding: 5%;
}

.map-wrapper {
	width: 100%;
	height: 100%;
}

.post {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#map {
	width: 100%;
	height: 400px;
  background-color: grey;
}