<ul class="list">
	<li class="item item-divider">Menu</li>
	<li class="item item-icon-left" onclick="steroids.initialView.show()">
  		<i class="icon super-log-out"></i>
  		Logout
  	</li>

  <!--li class="item item-icon-left">
  	<i class="icon super-person-stalker"></i>
  	Contacts
  </li-->
  	<li class="item item-divider">Test Options</li>
  	<li class="item item-icon-left" onclick="localStorage.setItem('snail_test', 'True');supersonic.ui.drawers.close();">
  		<i class="icon super-android-time"></i>
  		Instant Mode
  	</li>
	<li class="item item-icon-left" onclick="localStorage.setItem('snail_test', 'False');supersonic.ui.drawers.close();">
		<i class="icon super-android-time"></i>
		Delay Mode
	</li>
</ul>