<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title ng-bind = "user"></super-navbar-title>
    <super-navbar-button side='right' ng-click="showPost()">+</super-nav-bar-button>
  </super-navbar>
  <div class="post" ng-show="show_val">
    <div class="list">
         <label class="item item-input item-floating-label">
           <span class="input-label">Send to:</span>
           <input type="text" placeholder="Send to:" ng-model="receiver">
         </label>
         <label class="item item-input item-floating-label">
           <span class="input-label">Image</span>
           <input type="text" placeholder="Image URL" ng-model="image">
         </label>
         <label class="item item-input item-floating-label">
           <span class="input-label">Caption</span>
           <input type="text" placeholder="Caption" ng-model="caption">
         </label>
    </div>
    <button class="button button-block button-positive" ng-click="pushData()">
     Submit
    </button>
  </div>
  <div class='list-group'>
    <div ng-repeat="message in messages" class="post">
      <div class="col col-100 caption">From: {{message['sender']}}</div>
      <img ng-src={{message['image']}} width="100%" height="100%"/>
      <div class="row info-row">
        <div class="col text-right info">
          {{message['timestamp'] | date:'MMM. d  h:m a'}}
        </div>
      </div>
    	<div class="caption row">
        <div class="col col-100">{{message['message']}}</div>
      </div>
    </div>
    </div>




    <!--button class="button button-full button-positive">
      Create a new post (not functional)
   </button>-->
</div>