<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title ng-bind = "user"></super-navbar-title>
  </super-navbar>


  <!-- Alert Popup-->

  <div class="notifications">{{alertMessage}}</div>


<!-- Sender view code -->

  <div class='list-group'>
    <div ng-repeat="sender in senders">
      <super-navigate location="Feed#messages?id={{user}},{{sender}},{{delay}}" class="item item-thumbnail-left">
        <img ng-src={{icons[sender]}}>
        <div class="row sender">
          <div class="col">
            {{sender}}
          </div>
          <div class="col text-right">
            >
          </div>
        </div>
      </super-navigate>
    </div>
  </div>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SnailChat</h4>
        </div>
        <div class="modal-body">
          <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


    <super-navigate location="Feed#post">
    <button class="item button button-block button-positive" id="bottom">
      Post
    </button>
    </super-navigate>


</div>


<script>



</script>