<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-button side='left' ng-click="showUser()">User</super-navbar-button>
    <super-navbar-title ng-bind = "user"></super-navbar-title>
  </super-navbar>


  <!-- Alert Popup-->
  <div class="alert" ng-show="show_alert">Someone sent you a message!</div>

  <div class="notifications">{{alertMessage}}</div>


<!-- user form code -->
  <div class="form" ng-show="show_val1">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username:</span>
        <input type="text" placeholder="" ng-model="user">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Receive messages at {{currHour}}:{{delay}}</span>
        <input type="number" placeholder="" ng-model="delay">
      </label>
      <button class="item button button-block button-royal" ng-click="pushDataUser()">
     Save
    </button>
    </div>
  </div>

<!-- Sender view code -->

  <div class='list-group'>
    <div ng-repeat="sender in senders">
      <super-navigate location="Feed#messages?id={{user}},{{sender}},{{delay}}" class="item item-thumbnail-left">
        <img ng-src={{icons[sender]}}>
        <div class="row sender">
          <div class="col">
            {{sender}}
          </div>
          <div class="col text-right">
            >
          </div>
        </div>
      </super-navigate>
    </div>
  </div>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SnailChat</h4>
        </div>
        <div class="modal-body">
          <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


    <super-navigate location="Feed#post">
    <button class="item button button-block button-royal" id="bottom">
      Post
    </button>
    </super-navigate>


</div>


<script>



</script>