<div ng-controller="LoginController">

	<div class="content">

		<div class="centered">

			<div class="mainLogo">
		  		<img id="logo" src="/icons/logo.png">
		  	</div>

		  	<br>
	  </div>
<!-- 
	    <div class="form">
		    <div class="list">
		      <label class="item item-input item-stacked-label">
		        <span class="input-label">Username:</span>
		        <input type="text" placeholder="" ng-model="user">
		      </label>
		      <label class="item item-input item-stacked-label">
		        <span class="input-label">Receive messages at {{currHour}}:{{delay}}</span>
		        <input type="number" placeholder="45" ng-model="delay">
		      </label>
		    </div>
  		</div> -->

  				      <button class="item button button-block button-positive" ng-click="pushDataUser()">
		     Enter
		    </button>

	</div>

</div>
