<div ng-controller="LoginController">

	<div class="content">

		<div class="centered">

			<div class="mainLogo">
		  		<img id="logo" src="/icons/logo.png">
		  	</div>

		  	<br>
	  	</div>
	  	<div class="list list-inset">
  			<label class="item item-input">
    			<input type="text" placeholder="Username" ng-model="user">
  			</label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="pass">
		  </label>
		</div>


		<button class="item button button-block button-positive" ng-click="auth()">
			Login
		</button>

		<super-navigate location="Feed#register">
		<button class="item button button-block button-positive" location="Feed#register">
			Register
		</button>
		</super-navigate>

		<!--div>
			remote:{{ph}}
		</div>
		<div>
			local:{{pph}}
		</div-->
		<div>
			{{cond}}
		</div>

	</div>

</div>
