<div ng-controller="LoginController">

	<div class="content">

		<div class="mainLogo">
	  		<img id="tl" src="/icons/titleLogo.png"></img>
	  	</div>

	  	<div class="list" id="loginList">
  			<p class="list-h"> Username </p>
  			<label class="item item-input">
    			<input type="text" placeholder="" ng-model="user">
  			</label>
  			<p class="list-h"> Password </p>
		  <label class="item item-input">
		    <input type="text" placeholder="" ng-model="pass">
		  </label>
		</div>

		<div class="login-buttons">

			<button class="button button-block button-purple" id="sign-in" ng-click="auth()">
				Sign in
			</button>

			<super-navigate location="Feed#register">
			<button class="button button-block button-white" location="Feed#register">
				Create your account
			</button>
			</super-navigate>

		</div>

		<div class="error">
			{{cond}}
		</div>

	</div>

</div>
