<div ng-controller="MessagesController">

  <super-navbar>
  </super-navbar>


  <div id=right ng-click="goRight()">
  </div>
  <div id=left ng-click="goLeft()">
  </div>

  <div class="info text-center">
    <h2>{{sender}}</h2>
  </div>
  <div class="post-contain">
    <img ng-src={{messages[curr]['image']}} width="100%" height="100%">
    <img class="overlay-image-left" ng-src={{bottom_left}} width="11%" height="auto">
    <img class="overlay-image-right" ng-src={{bottom_right}} width="11%" height="auto">
  </div>
  <div class="caption">
      {{messages[curr]['message']}}
  </div>
  <div class="caption-subdued">
    Sent: {{messages[curr]['timestamp'] | date:'MMM. d,  h:mm a'}}<br>Delivered: {{messages[curr]['timestampFuture'] | date:'MMM. d,  h:mm a'}}
  </div>
  <div class="bottom-buffer"></div>

  <super-navigate location="Feed#post?id={{sender}}" class="bottom">
    <button class="item button button-block button-purple">
      Respond
    </button>
  </super-navigate>

</div>
