<div ng-controller="MessagesController">

  <hr>

  <div id=right ng-click="goRight()">
  </div>
  <div id=left ng-click="goLeft()">
  </div>

  <div class="info text-center">
    <h2>{{sender}}</h2>
  </div>
  <div>
    <img class="full-image" ng-src={{messages[curr]['image']}} width="100%" height="100%">
  </div>
  <div class="caption">
      {{messages[curr]['message']}}
  </div>
  <div class="caption-subdued">
    Sent: {{messages[curr]['timestamp'] | date:'MMM. d,  h:mm a'}}<br>Delivered: {{messages[curr]['timestampFuture'] | date:'MMM. d,  h:mm a'}}
  </div>

</div>
