<div ng-controller="PostController">

  <super-navbar>
  </super-navbar>

<body>

<div class="content">
<!-- posting form code -->
    <div class="list">


         <!-- Cloudinary Photo Upload-->



         <!--<div class="progress_bar"></div>-->
           <p class="list-h">To</p>
         <label class="item item-input item-floating-label">
           <input id="Send" type="text" placeholder="" ng-model="receiver" ng-keydown="showContacts()">
           <div ng-show="contactVisible">
             <li ng-show="contactVisible" ng-click="selectFriend(contact)" class="item col col-75" ng-repeat="contact in contacts | filter:receiver">
              {{contact}}
             </li>

           </div>
         </label>

        <form class="upload_form" id ="upload_form"></form>
        <div class="preview"></div>

        <p class="list-h">Caption</p>
        <label class="item item-input item-floating-label">
           <textarea ng-model="caption" name="Text1" cols="40" rows="5"></textarea>
        </label>

    </div>
</div>

<br>
<br>

<div class="bottom">
        <button class="item button button-block button-purple" ng-click="pushData()">
          Submit
        </button>
 </div>



  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">SnailPost</h4>
        </div>
        <div class="modal-body">
          <p>Your message has been sent!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="dismiss()" data-dismiss="modal">Return</button>
        </div>
      </div>

    </div>
  </div>


</body>

<script>

  if ('ontouchstart' in window) {
    /* cache dom references */
    var $body = $('body');

    /* bind events */
    $(document)
    .on('focus', 'input', function() {
        $body.addClass('fixfixed');
    })
    .on('blur', 'input', function() {
        $body.removeClass('fixfixed');
    });

        $(document)
    .on('focus', 'textarea', function() {
        $body.addClass('fixfixed');
    })
    .on('blur', 'textarea', function() {
        $body.removeClass('fixfixed');
    });
}

</script>
</div>