<div ng-controller="RegisterController">

	<super-navbar id ="logoIndex"></super-navbar>

	<br>
	
	<div class="content">


	  	<div class="list list-inset">

	  	  	<h4>Choose a username:</h4>

	  	  	<br>

  			<label class="item item-input">
    			<input type="text" placeholder="" ng-model="newUser">
  			</label>

  			<br>

  			  <h4>Choose a password:</h4>

  			  <br>

		  <label class="item item-input">
		    <input type="password" placeholder="" ng-model="newPass">
		  </label>

		  <br>

		    <h4>Retype your password:</h4>

  			  <br>

		  <label class="item item-input">
		    <input type="password" placeholder="" ng-model="newPass2">
		  </label>

		</div>

		<br>

		<button class="item button button-block button-purple" ng-click="createAccount()">
			Register
		</button>


		<div>
			{{cond}}
		</div>

	</div>

</div>
